<div class="container">
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-6">
      <div class="thumbnail">
        <a href="#" routerLink="../products/terracotta">
            <img title="Terracotta Jewellery" 
             src="https://4.imimg.com/data4/IN/FW/ANDROID-11805381/product-500x500.jpeg" 
             class ="img-responsive" alt="terracotta jwellery">
             <div class="caption">
               <p>Terracotta Jewellery</p>
             </div>
        </a>
      </div>
     </div>
     
    <div class="col-lg-4 col-md-4 col-sm-6">
      <div class="thumbnail">
        <a href="#" routerLink="../products/silkThread">
            <img src="https://4.imimg.com/data4/PD/PG/ANDROID-40071267/product-500x500.jpeg"
            class ="img-responsive" alt="silk thread jwellery" />
             <div class="caption">
               <p>SilkThread Jewellery</p>
             </div>
          </a>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-6">
      <div class="thumbnail">
        <a href="#" routerLink="../products/Beaded">
            <img src="https://tse2.mm.bing.net/th?id=OIP.AB8klchdhxyAyeGn-6wg3gHaHa&pid=Api"
            class ="img-responsive" alt="Beaded Necklace" />
             <div class="caption">
               <p>Beaded Necklace</p>
             </div>
          </a>
      </div>
    </div> 
    <div class="col-lg-4 col-md-4 col-sm-6">
      <div class="thumbnail">
        <a href="#" routerLink="../products/Oxidized">
            <img src="https://i.pinimg.com/736x/44/d5/f9/44d5f9d3a799b99585c9f2690cb37602--tribal-necklace-choker-necklaces.jpg"
             class ="img-responsive" alt="Oxidized silver"/>
             <div class="caption">
               <p>Oxidized silver jewellery</p>
             </div>
          </a>
        </div>
    </div>
  </div>
</div>
